<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="onSelectContact(node)">
        {{node.permLabel}} {{node.firstName}} {{node.lastName}} {{node.phone}}
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.firstName">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
            </mat-icon>
        </button>
        <div class="mat-tree-node" (click)="onSelectContact(node)">
          {{node.permLabel}} {{node.firstName}} {{node.lastName}} {{node.phone}}
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
</mat-tree>
  