<div id="tree-container" #treeview>
  <!-- <a href="#node2-2-1">go node</a> -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" id="tree-block">
  <mat-nested-tree-node *matTreeNodeDef="let node">
    <li>
      <div class="mat-tree-node" (click)="onSelectContact(node)" id="node{{node.id}}" [ngClass]="'node'+node.id">
        <div class="node-block single" (ctrl-click)="onSelectMultiContacts(node)" [class.active]="node.isActive">
          {{node.permLabel}} <b> {{node.id}}  </b>
        </div>
      </div>
    </li>
  </mat-nested-tree-node> 
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li class="example-tree-container">
      <div class="mat-tree-node" (click)="onSelectContact(node)" id="node{{node.id}}" [ngClass]="'node'+node.id">
        <div class="node-block" (ctrl-click)="onSelectMultiContacts(node)" [class.active]="node.isActive">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.firstName">
            <mat-icon>
              {{ treeControl.isExpanded(node) ? 'remove' : 'add' }} 
            </mat-icon>
          </button>
          {{node.permLabel}} <b> {{node.id}}  </b>
        </div>
      </div>
      <ul class="example-tree-nested-node">
        <div *ngIf="treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>

</div>
<button (click)="searchNode('2-2-1')">Search Node</button>


